.movieSearch{
    background-color: #242424;
    min-height: 100vh;
    height: 100%;
}
.search__notFound{
    color:white;
}
.movies__wrapper
.movie > h1,
.movie > h2,
.movie > h4{
    position: absolute;
    z-index: 5;
    width: 100%;
    text-align: center;
    color: white;
    transition: all 200ms ease-in-out;
    transform: translateY(-5%) scale(0.9);
}
.movie > h1{
    top:20%;
    opacity: 0;
}
.movie > h4 {
    top: 5%;
    opacity: 0;
}
.movie > h2{
    bottom: 5%;
    opacity: 0;
}
.movie > img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    transition: all 200ms ease-in-out;
}
.movie:hover img{
    filter: brightness(70%);
}
.movie:hover{
    transform: scale(1.05);
}
.movie:hover h1,
.movie:hover h2,
.movie:hover h4{
    opacity: 1;
    transform: translateY(5%) scale(1);
}
.movies{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}
.movie{
    transition: 200ms ease-in-out all;
    height: 100%;
    width: 100%;
    overflow: hidden;
    border-radius: 5px;
}
.loading__wrapper{
    display: flex;
    flex-basis: 22%;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    position: relative;
}
.loading{
    height: 376px;
    width: 264px;
    overflow: hidden;
    border-radius: 5px;
    background-color: gray;
}
.movie__wrapper{
    display: flex;
    flex-basis: 22%;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    position: relative;
}
.movies__wrapper{
    width: 100%;
    padding-bottom: 100px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.search__input--wrapper > div > button{
    background-color: #e50914;
    cursor: pointer;
}

.search__input--wrapper{
    display: flex;
    flex-direction: column;
    gap:0.5rem;
}
.search__input--wrapper label{
    color : white;
    font-size: 1.5rem;
    font-weight: 600;
}
.search__input{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
    flex-direction: column;
}
.search__form{
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search__form > input{
    font-size: 1rem;
    border: none;
    width: 80%;
    padding: 12px 15px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.search__form > input:focus{
    outline: none;
}
.search__form > button{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 13px;
    font-size: 1rem;
    width: 20%;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.search__form > button > svg{
    fill:white;
}
.search__pages{
    display: flex;
}
.search__pages > h1{
    color:white;
}
@media (max-width:800px) {
    .movie__wrapper{
        flex-basis: 40%;
    }
    .search__form{
        width: 80vw;
    }
}
@media (max-width:400px) {
    .movie > h4{
        font-size: 10px;
    }
    .movie > h1{
        font-size: 15px;
    }
    .movie > h2{
        font-size: 10px;
    }
}